.form-check-input:checked {
    background-color: #7551FF;
}

.form-check-size {

}

.form-check-input {
    border: none;
}

.list-containers-btn{
    background-color: #6765D3;
}

.container-card {
    border-radius: 25px;
    background-color: #080E2C;
    color: white;
}

.logo-container {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #4112C7 70%);
    border-radius: 20px;
}

.discord-logo-container {
    background-color: #08081C;
    border-radius: 15px;
}