<MudAppBar Style="background-color: rgba(0, 0, 0, 0);" Bottom="true" Fixed="true" Elevation="1" Dense=true ?>
    <div class="container">
        <div class="row text-center">
            <p class="col-6 text-white">Powered by .NET @DotNetVersion</p>
            <p class="col-6 text-white">&copy; @CurrentYear Bot Harbor</p>
        </div>
    </div>
</MudAppBar>

@code {
    private Version DotNetVersion { get; set; } = Environment.Version;
    private int CurrentYear { get; set; } = DateTime.UtcNow.Year;
}