<div class="container">
    <div class="row text-center text-white">
        <p class="col-6">Powered by .NET @DotNetVersion</p>
        <p class="col-6">&copy; @CurrentYear Bot Harbor</p>
    </div>
</div>


@code {
    private Version DotNetVersion { get; set; } = Environment.Version;
    private int CurrentYear { get; set; } = DateTime.UtcNow.Year;

}