@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a class="" href="https://cloud.digitalocean.com/droplets/370310729/graphs?i=8aa39c&period=hour" target="_blank">
                <MudTooltip Text="Settings">
                    <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.Settings"/>
                </MudTooltip>
            </a>
            <a href="https://github.com/Bot-Harbor" target="_blank">
                <div class="circle-bg">
                    <MudTooltip Text="Bot Harbor">
                         <img src="imgs/Bot Harbor - Light House.png" alt="GitHub Profile Pic" class="top-row-element" width="40" height="40"/>
                    </MudTooltip>
                </div>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>